html, body {
    height: 100%;
}

a, a:hover {
	color: rgb(246,207,40);
}

.flex {
	display: flex;
	height: 100%;
}

.wizard {
	width: 50%;
	background-color: #E2007F;
}

.flowchart {
	flex: 1 1 auto;
	background: url('/default_background.jpg') no-repeat fixed;
	-webkit-filter: grayscale(100%);
	opacity: 0.9;
}

footer {
	position: absolute;
	bottom: 25px;
	text-align: center;
	width: 50%;
	left: 0;
}

footer > * {
	display: block;
}

footer img {
	border-radius: 100%;
	width: 10%;
	margin-bottom: 10px;
	display: inline-block;
}