html, body {
    height: 100%;
}

a, a:hover {
	color: rgb(246,207,40);
}

.flex {
	display: flex;
	height: 100%;
}

.wizard {
	width: 50%;
	background-color: #E2007F;
}

.flowchart {
	flex: 1 1 auto;
	background: url('/default_background.jpg') no-repeat fixed;
}

footer {
	position: absolute;
	bottom: 25px;
	text-align: center;
	width: 50%;
	left: 0;
}

footer > * {
	display: block;
}

footer img {
	border-radius: 100%;
	width: 10%;
	margin-bottom: 10px;
	display: inline-block;
}

.node {
	fill: #E2007F;
}

.node[followed="true"] {
	fill: #b70067;
}

.node[at="true"] {
	stroke: black;
	stroke-width: 2px;
}

.link {
	stroke: rgb(246,207,40);
	stroke-width: 2px;
}

.arrow {
	fill: rgb(246,207,40);
}

.link_label {
	font: 10px sans-serif white;
}

.nodetext {
	cursor: pointer;
}

.login, .login:hover, .login:visited, .login:active {
	float: right;
	margin-top: 10px;
}

.btn-primary, .btn-primary:hover, .btn-primary:visited, .btn-primary:active {
	background-color: #E2007F;
}

.login li {
	list-style-type: none;
}

label {
	color: rgb(246,207,40);
	font-weight: normal;
	font-size: 14px;
}

*[contentEditable=true] {
	border-bottom: 1px dashed #000;
    text-decoration: none;
}


.addchoice {
	color: #333;
}
.removechoice {
	color: #333;
}