html, body {
    height: 100%;
}

a, a:hover {
	color: rgb(246,207,40);
}

.flex {
	display: flex;
	height: 100%;
}

.wizard {
	width: 50%;
	background-color: #E2007F;
}

.flowchart {
	flex: 1 1 auto;
	background: url('/default_background.jpg') no-repeat fixed;
}

footer {
	position: absolute;
	bottom: 25px;
	text-align: center;
	width: 50%;
	left: 0;
}

footer > * {
	display: block;
}

footer img {
	border-radius: 100%;
	width: 10%;
	margin-bottom: 10px;
	display: inline-block;
}

.node {
	fill: #E2007F;
}

.followed {
	fill: #b70067;
}

.link {
	stroke: rgb(246,207,40);
	stroke-width: 2px;
}

.arrow {
	fill: rgb(246,207,40);
}

.link_label {
	font: 10px sans-serif white;
}

.nodetext {
	cursor: pointer;
}
